/docker/mysql

# Ignore concrete5 stuff
/application/application/config/secrets.php
/application/application/files
/application/application/languages
/application/sitemap.xml

# Ignore UI build files
/application/application/themes/leiricargo/assets/node_modules
/ui/node_modules

# Ignore developer stuff
*.DS_Store
/.idea
/app.sql
